.front_page {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  
}

.front_page > section {
  min-height: 100vh;
  padding: 120px 20px 0;
   /*background-color: yellow; */
  

}

.front_page_right h2 {
  font-weight: 500;
  font-size: 42px;
  margin: 30px 0 20px;
  color: maroon;
}

.logo_letter{
    font-size: 64px;
    font-weight: 900;
    color: maroon;
    padding: 24px 0;
}
.radio{
	font-size: 25px;
    font-weight: 900;
    color: black;
    padding: 24px 0;
}
.front_klase{
  border: 1px solid black;
  margin: 100px 30px 75px 50px;
  background-color: red;
}
.front_page-column{
  
 
  flex-direction: column;
}
.front_page_datums{
  border: 1px solid black;
  margin: 100px 30px 75px 50px;
  background-color: red;
}