.login_page {
  display: flex;
  justify-content: left;
  
}

.front_page_right{
  
}


.radio {
  
  Margin-top: 20%;   
  margin-left: 20%;
     
   }
  .front_page_top {
	  Margin-top: 10%
	  
  }
