<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skolotāju saraksts</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet"  href="/static/css/noform.css">
    <link rel="stylesheet"  href="/static/css/klase.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
  </head>
  <body>
    <header>
      <a href="/" class="logo">
        <img src="/static/img/logo2.png" alt=" MDO logo">
      </a>
      <div class="header-right">
        <p>Skolotājs</p>
      </div>
    </header>
	    <div class="content">
     
        <br>
		<br>
          
        </div>
	<table style="width:100%" id="skolotaji" class="text-center">
  <tbody >
		
   <thead>
	<tr>
      <td><h2>Vārds</h2></td>
      <td><h2>Uzvārds</h2></td>
     
    </tr>
   </thead>
    
		
  </tbody>
	</table>
  <script src="/static/js/skolotaji.js"></script>
</body>
</html>