<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tabula</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet"  href="/static/css/noform.css">
    <link rel="stylesheet"  href="/static/css/klase.css">
    <link rel="stylesheet"  href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/augsa.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    
  </head>

  <body>

    <header>
      <a href="/" class="logo">
        <img src="/static/img/logo2.png" alt=" MDO logo">
      </a>
      <div class="container">
        <div class="container container-column">
          <form>
            <p>Datums
            <input type="date" name="calendar" value="2020-09-01"
            max="2021-05-31" min="2020-09-01">
            <input type="submit" value="Nosutīt"></p>
          </form>
  
          <p> Tēma
            <select id = "temati" onchange="sanemt_tematu()">
              <option value="0">Izvēlies tematu</option>
              <option value="1">Līdzdalība grupas/pāra darbā</option>
              <option value="2">Prezentē savu ideju</option>
              <option value="3">Sadarbība</option>
              <option value="4">Izklājlapas, funkciju grafiku konstruēšana</option>
            </select>
          </p>
          <div>  
          </div>
        </div>
        <div class="container container-column">
          <p>Klase
          <select>
            <option> 9 klase</option>
            <option>10 klase</option>
            <option>11 klase</option>
            <option>12 klase</option>
          </select></p>
        </div>
      </div>
      <div class="header-right">
        
        <a href="/">Skolēns</a>
        <p>Ilva Lapiņa</p>
      </div>
    </header>

    
    <div class="content">
     
        
     

      <table id="snieguma_limenu_tabula" >
        <thead >
          <tr>
            <th id="prasmes"><h3>Kritērijs</h3></th>
            <th id="snieguma_limenis_1"><p><h3>1</p> <p>Gatava instrukcija</p></h3></th>
            <th id="snieguma_limenis_2"><p><h3>2</p> <p>Spēja rīkoties ar nelielu palīdzību</p></h3></th>
            <th id="snieguma_limenis_3"> <p><h3>3</p> <p> Spēja rīkoties patstāvīgi</p></h3></th>
            <th id="snieguma_limenis_4"> <p><h3>4</p> <p>Prognozē rezultātu, spēja skaidrot rīcības</p></h3> </th>
          </tr>
        </thead>

        <tbody id="prasmite">
        </tbody>
         
      </table>
    </div>
    <span id="vertiba" font-size="24px" font-weight="600"></span> 
    <span id="procenti"> </span>
    <br>
    <label> Pašvērtējums: </label> <br>
    <form> 
      <textarea ></textarea> 
    </form>

    <footer>
      <p></p>
      <button class="buton" onclick="saglabat()"> Saglabāt </button> 
    </footer>
    <script src='/static/js/saglabat.js'></script>
    <script src="/static/js/skolens_tabula.js"></script>
    <script src="/static/js/skolenu_sniegums.js"></script>
  </body>
</html>
