<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tabula</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet"  href="static/css/noform.css">
    <link rel="stylesheet"  href="static/css/klase.css">
    <link rel="stylesheet"  href="static/css/buttons.css">
    <link rel="shortcut icon" href="static/img/favicon.ico">
    
  </head>

  <body>

    <header>
      <a href="/" class="logo">
        <img src="static/img/logo2.png" alt=" MDO logo">
      </a>
      <div class="header-right">
        
        <a href="/">Skolēns</a>
        <p>Ilva Lapiņa</p>
      </div>
    </header>

    <div class="content">
     
        <div class="front_klase">
      
        <p >Klase:</p>
        
          <select >
            <option> 8 klase</option>
            <option> 9 klase</option>
            <option>10 klase</option>
            <option>11 klase</option>
            <option>12 klase</option>
            <option>13 klase</option>
          </select>
          
        </div>
      </div>

      <table id="snieguma_limenu_tabula" >
        <thead >
          <tr>
            <th id="Kriterijs"><h3>Kritērijs</h3></th>
            <th id="1"><p><h3>1</p> <p>Gatava instrukcija</p></h3></th>
            <th id="2"><p><h3>2</p> <p>Spēja rīkoties ar nelielu palīdzību</p></h3></th>
            <th id="3"> <p><h3>3</p> <p> Spēja rīkoties patstāvīgi</p></h3></th>
            <th id="4"> <p><h3>4</p> <p>Prognozē rezultātu, spēja skaidrot rīcības</p></h3> </th>
          </tr>
        </thead>

        <tbody  >
          <tr id="tabula">
            <td >Varu sniegt atgriezenisko saiti citiem</td>
            <td onClick = "this.bgColor='yellow'" >Es protu strādāt pēc parauga</td>
            <td onClick = "this.bgColor='yellow'">Es protu novērtēt cita skolēna darbu</td>
            <td onClick = "this.bgColor='yellow'">Es protu novērtēt cita skolēna darbu ņemot vērā viņa izvirzīto mācību mērķi</td>
            <td onClick = "this.bgColor='yellow'">Es protu novērtēt cita skolēna darbu, ņemot vērā viņa izvirzīto mācību mērķi, un ieteikt, kā rīkoties tālāk.</td>
          </tr>
          <tr class= "Kritērijs">
            <td >Vērtību tabulas izveide</td>
            <td onClick = "this.bgColor='yellow'">Veidojot vērtību tabulu balstos uz iepriekšējiem piemēriem vai lietoju gatavu instrukciju, palīdzību</td>
            <td onClick = "this.bgColor='yellow'">Veidojot vērtību tabulu, lietoju dotās argumenta vērtības vai izvēlos tās intuitīvi</td>
            <td onClick = "this.bgColor='yellow'">Argumenta vērtības izvēlos apzināti-spēju novērtēt, vai izvēlētās un aprēķinātās vērtības ir vispiemērotākās</td>
            <td onClick = "this.bgColor='yellow'">Vērtību tabulu veidoju un pielāgoju kā kompleksa uzdevuma (reāla dzīves situācijas apraksta) sastāvdaļu.
            </td>
          </tr>
          <tr class= "Kritērijs">
            <td >Novērtē un uzlabo rezultātu</td>
            <td onClick = "this.bgColor='yellow'" >Veidojot funkciju grafiku lietoju noklusētos iestatījumus.Iegūto rezultātu nevērtēju, neuzlaboju.</td>
            <td onClick = "this.bgColor='yellow'">Konstruēto funkcijas grafiku to uzlaboju, uzklausot citu ieteikumus un norādījumus.</td>
            <td onClick = "this.bgColor='yellow'">Patstāvīgi pielāgoju datu vērtības tabulā un maina to attēlošanas formatējumu, lai funkcijas grafiks attēlotu nepieciešamo informāciju, attēlojot būtiskākos funkcijas parametrus un īpašības</td>
            <td onClick = "this.bgColor='yellow'">Patstāvīgi, atbilstoši dažādiem  uzdevuma kontekstiem, pielāgoju datus un mainu to attēlošanas formatējumu, lai funkcijas grafiks attēlotu tikai nepieciešamo informāciju, attēlojot būtiskākos funkcijas parametrus un īpašības</td>
          </tr>
        </tbody>
      </table>
    </div>
    <span id="vertiba" font-size="24px" font-weight="600"></span> 
    <span id="procenti"> </span>
    <br>
    <label> Pašvērtējums: </label> <br>
    <form> 
      <textarea ></textarea> 
    </form>

    <footer>
      <p></p>
      <button class="buton" onclick="saglabat()"> Saglabāt </button> 
    </footer>
    <script src='static/js/saglabat.js'></script>
    <script src="static/js/skolens_tabula.js"></script>
  </body>
</html>
